.actions {
    margin: 0 auto 20px;
    width: Min(100%, 1300px);

    @include media-breakpoint-down(md) {
        max-width: 500px;
    }

    @include media-breakpoint-up(md) {
        margin: 0 auto 55px;
    }
}

.actions__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    border-radius: 32px;

    @include media-breakpoint-up(xl) {
        padding: 45px 30px;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 25px;
    }
}

.actions__item--blank {
    background-color: $blank-bg;

    @include media-breakpoint-up(md) {
        flex-grow: 1;
    }
}

.actions__item--code {
    background-color: $code-bg;
    margin: 25px 0 0 0;

    @include media-breakpoint-up(md) {
        flex-grow: 1;
    }
}

.actions__item--candy {
    margin: 25px 0 0 0;
    padding: 180px 0 15px;
    background-color: $candy-bg;
    background-image: url(../../img/candy.png);
    background-repeat: no-repeat;
    background-size: 100% 167px;

    @include media-breakpoint-up(md) {
        margin: 0;
    }

    @include media-breakpoint-up(xl) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 30px 50px 51%;
        width: 100%;
        background-color: $candy-bg;
        background-image: url(../../img/candy-dt.png);
        background-position: left top;
        background-size: 45% 100%;
    }
}

.actions__heading {
    --max-width: 220px;
    width: Min(100%, var(--max-width));
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;

    @include media-breakpoint-up(xl) {
        --max-width: 270px;
        margin: 0;
        font-size: 24px;
        text-align: left;
        line-height: 28px;
    }
}

.actions__heading--candy {
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
        text-align: left;
        max-width: 320px;
    }
}

.actions__suggest {
    color: $primary-text-color;

    @include media-breakpoint-up(xl) {
        margin: 0;
    }
}
