.article {
    font-size: 18px;
    text-align: center;

    &:not(:last-child) {
        margin: 0 0 30px 0;
    }
}

.article__image {
    margin: 0 0 25px 0;
}

.article__time {
    display: block;
    margin: 0 0 5px 0;
    line-height: 1.4;
    font-weight: bold;
    color: $article-time-color;
}

.article__heading {
    margin: 0 0 30px 0;
    font-size: inherit;
    line-height: 1.3;
}

.article__lead {
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
}
