.blog {
    color: $white;
    margin: 0 auto 45px;
    width: Min(100%, $max-width);
}

.blog__heading {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-up(md) {
        padding-left: 15px;
        font-size: 32px;
        text-align: left;
    }
}
