.button {
    padding: 8px 40px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: $primary-text-color;
    background-color: $button-primary-color;
    border-radius: 30px;

    @include media-breakpoint-up(md) {
        font-size: 18px;
        padding: 13px 40px;
    }
}

.button--secondary {
    padding: 9px 12px;
    min-width: 116px;
    font-size: 14px;
    background-color: $button-secondary-color;

    @include media-breakpoint-up(md) {
        min-width: 193px;
        padding: 12px;
        font-size: 20px;
    }
}

.button--large-text {
    padding: 14px 20px;
}

.button--small-text {
    padding: 8px 40px;
    font-size: 14px;

    @include media-breakpoint-up(md) {
        padding: 12px 40px;
        font-size: 18px;
    }
}
