.carousel-item {
    min-height: 400px;
    padding: 85px 15px 10px;
    background-image: url(../../img/bg-m.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @include media-breakpoint-up(md) {
        background-image: url(../../img/bg-dt.jpg);
    }
}

.carousel-indicators {
    bottom: -50px;

    @include media-breakpoint-up(md) {
        bottom: 20px;
    }

    [data-bs-target] {
        width: 8px;
        height: 8px;
        border: 1px solid $slider-indicators-color;
        border-radius: 50%;
        opacity: 1;
    }

    .active {
        background-color: $slider-indicators-color;
    }
}
