.footer {
    color: $footer-color;
    padding-bottom: 30px;
}

.footer__list {
    margin: 0 auto;
    max-width: 1300px;
    list-style: none;
}

.footer__item {

}

.footer__item + .footer__item {
    @include media-breakpoint-down(md) {
        margin-top: 5px;
    }

    @include media-breakpoint-up(md) {
        margin-left: 55px;
    }
}
