.footer {
    color: $footer-color;
    padding-bottom: 15px;

    @include media-breakpoint-up(md) {
        padding-bottom: 30px;
    }
}

.footer__list {
    margin: 0 auto;
    max-width: $max-width;
    list-style: none;
}

.footer__item {
    font-size: 14px;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }

}

.footer__item + .footer__item {
    @include media-breakpoint-down(md) {
        margin-top: 5px;
    }

    @include media-breakpoint-up(md) {
        margin-left: 55px;
    }
}
