.header {
    padding: 25px 15px 20px;
    margin: 0 auto;
    max-width: $max-width;
    color: $primary-text-color;
    background-color: $header-bg;
}

.header__logo {
    font-size: 16px;
    font-weight: bold;
}

@include media-breakpoint-up(md) {
    font-size: 24px;
}

.header__logo--color {
    color: #F4D852;
}

.header__pic {
    width: 44px;
}
